<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="header">

        <ul>
            <div class="logo">

            </div>
            <li>Chat</li>
            <li>Login</li>
            <li>Register</li>
        </ul>
    </div>
    <div class="Title"><h2>LOGIN<span style="color:#8c39ef">!</h2></div>
    <div class="Registerbody">

        <form action="/action_page.php">
            <label for="fname">Email</label>
            <input type="text" id="Email" name="Email" placeholder="Your name..">
            <label>Password</label>
            <input type="password" id="Password" name="Password" placeholder="Your last name..">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>