body {
  overflow:hidden;
}

/* Set padding to keep content from hitting the edges */

.RegisterBody [type=text],[type="password"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.RegisterBody input[type=submit] {
    width: 100%;
    background-color: #8c39ef;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .RegisterBody input[type=submit]:hover {
        background-color: #ffd524;
    }
.RegisterBody label{
    display:grid;
    text-align:center;
}
.RegisterBody {
    position: relative;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 40%;
    left: 30%;
    top: 30%;
}
.header {
    position: absolute;
    min-height: 10%;
    width: 100%;
    left: 0;
    top: 0;
    
}
    .header:hover {
        background-color: #8c39ef;
    }
  ul li:hover{
       color:white;
  }

.header ul{
    position:relative;
    list-style:none;
    display:flex;
    padding-top:15px;
    left:50%;
   
}
.header ul li {
   margin-left:70px;
   font-size:23px;
}
.logo {
    position:absolute;
    left:-50%;
    background-image:url('Pictures/Logo.png');
    height:70px;
    width:100px;
    background-size:cover;
    top:0;
}
#fname{
    
}
.Title{
    position:relative;
    top:25%; 
}
.Title h2{
    text-align:center;
    font-size:35px;
}
.parent {
    background-color: #f2f2f2;
    position: absolute;
    top: 30%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.div1 {
    
    grid-area: 1 / 1 / 6 / 2;
}

.div2 {
    background-color:white;
 
    grid-area: 1 / 2 / 6 / 4;
}

.div3 {
    grid-area: 1 / 4 / 6 / 5;
}
.div1 input{
    border-radius:20px;
    height:26px;
    width:90%;
    margin-left:5%;
    outline:none;
    border:solid 1px white;
}
    .div1 input[placeholder="Search"]{
        padding-left:15px;
    }
    .div1 input:focus {
        border-color: #8c39ef;
    }
    .div1 h2 {
        font-size: 30px;
        padding-left: 10%;
    }
.ChatImage {
    background-image: url('Pictures/chat.png');
    background-size:contain;
    width:40px;
    height:40px;
    position:absolute;
    top:4%;
    margin-left:20%;
}