<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="header">

        <ul>
            <div class="logo">

            </div>
            <li>Chat</li>
            <li>Login</li>
            <li>Register</li>
        </ul>
    </div>
    <div class="parent">
        <div class="div1">
            <h2>Chats</h2>
            <input type="text" placeholder="Search">
            <div class="ChatImage"></div>
            <div class="Friends">
                
            </div>
        </div>
        <div class="div2"> </div>
        <div class="div3"> </div>
    </div>
</body>
</html>
